@{
    ViewData["Title"] = "Dëshmi e Statusit";
}

<h1>Dëshmi e Statusit</h1>
<p>Merr dëshmi për statusin tënd si student.</p>

<div>
    <button class="btn btn-primary">Shkarko Dëshminë</button>
</div>
