@{
    ViewData["Title"] = "Merr Transkriptin";
}

<h1>Merr Transkriptin</h1>
<p>Shkarko transkriptet e notave të tua.</p>

<div>
    <button class="btn btn-primary">Shkarko Transkriptin</button>
</div>
